@charset "UTF-8";
html {
    font-size: 100%;
    height: 100%;
}

body{
    background-color: black;
    font-family: 'DotGothic16', sans-serif;
    height: 100%;
}

.main{
    height: 100vh;
    margin: 0 10% 10% 10%;
}

h1{
    text-align: center;
    margin: 0% 10% 5% 10%;
        color: #FF1493;
        text-shadow: 1px 1px 0 #B22222;
}
.opp{
    background: rgba(255, 192, 203, 0.7);
    margin: 0% 10% 2% 10%;
    padding: 2%;
}

.di{
    margin: 0% 10% 5% 10%;
}

.mi{
    margin: 0% 10% 5% 10%;
}

.si{
    margin: 0% 10% 0% 10%;
}

.douga{
    margin: 0% 10% 0% 10%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.douga iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.angel{
    background: rgba(255, 192, 203, 0.7);
    margin: 5% 10% 2% 10%;
    padding: 2%;
}

.di2{
    margin: 0% 10% 5% 10%;
}

.tl{
    color: red;
}

.mi2{
    margin: 0% 10% 5% 10%;
}

.si2{
    margin: 0% 10% 0% 10%;
}

.douga2{
    margin: 0% 10% 0% 10%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.douga2 iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.return{
    display: block;
    align-items: center;
    margin:0% 45% 0% 45%;
}

.return a{
    color: #00FF00;
    text-shadow: 1px 1px 0 #006400;
    text-decoration: none;
}